@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://webfontworld.github.io/heiroflight/HeirofLight.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
body .overlay {
  background-color: #fff;
  width: 99%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

body .grid {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10px;
  perspective: 55.6vh;
}

body .grid-fade {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
  background: radial-gradient(ellipse at 50% 50%, rgba(255, 255, 255, 0) 0%, #fff 95%);
}

body .grid-lines {
  width: 100%;
  height: 200%;
  background-image: linear-gradient(to right, rgba(136, 54, 191, 0.3) 1px, transparent 0), linear-gradient(to bottom, rgba(136, 54, 191, 0.3) 1px, transparent 0);
  background-size: 90px 60px;
  background-repeat: repeat;
  transform-origin: 100% 0 0;
  animation: play 60s linear infinite;
}

@keyframes play {
  0% {
    transform: rotateX(45deg) translateY(-50%);
  }
  100% {
    transform: rotateX(45deg) translateY(0);
  }
}
#bottom {
  box-sizing: border-box;
  padding: 0 140px;
  width: 100%;
  height: 80px;
  z-index: 10;
  position: absolute;
  top: 91%;
  margin: 0 auto;
}

#hea_u {
  display: flex;
  width: 100%;
  justify-content: center;
}
#hea_u li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 0 20px;
}
#hea_u li img {
  width: 60px;
  height: 60px;
}
#hea_u li img:hover {
  cursor: url("img/cusor_pointer2.svg"), pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

header {
  width: 100%;
  position: absolute;
  top: 10px;
}
header div {
  display: flex;
  justify-content: space-between;
}
header div p {
  font-size: 17px;
  margin: 0px 230px 0 0;
  text-align: right;
}

#logo {
  box-sizing: border-box;
  padding-left: 240px;
}
#logo img {
  width: 200px;
  height: 30px;
}

#section_wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.sc1 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 140px 0px;
  display: flex;
  flex-direction: column;
}

#m_title {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50%;
}

#sc_tag {
  margin-top: 40px;
  font-family: "Black Ops One";
  font-size: 9.3rem;
  filter: drop-shadow(5px 5px 5px rgba(136, 54, 192, 0.5));
  animation: textclip 3s linear infinite;
  background-image: linear-gradient(-225deg, #561AD9 0%, #C394F2 25%, #8836BF 50%, #934EA6 75%, #F1C2F2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  from {
    border-right-color: rgba(136, 54, 192, 0.5);
  }
  to {
    border-right-color: transparent;
  }
}
.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid rgba(136, 54, 192, 0.5);
  animation: typing 2s steps(30, end), blink 0.75s step-end infinite;
}

#m_animation {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

#m_animation .spinner-box {
  width: 18.75rem;
  height: 18.75rem;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#m_animation .leo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#m_animation .blue-orbit {
  width: 15.48675rem;
  height: 15.48675rem;
  border: 1px solid #F1C2F2;
  animation: spin3D 3s linear 0.2s infinite;
}

#m_animation .green-orbit {
  width: 11.25rem;
  height: 11.25rem;
  border: 1px solid #C394F2;
  animation: spin3D 2s linear 0s infinite;
}

#m_animation .red-orbit {
  width: 8.4375rem;
  height: 8.4375rem;
  border: 1px solid #934EA6;
  animation: spin3D 1s linear 0s infinite;
}

#m_animation .white-orbit {
  width: 5.625rem;
  height: 5.625rem;
  border: 2px solid #8836BF;
  animation: spin3D 10s linear 0s infinite;
}

#m_animation .w1 {
  transform: rotate3D(1, 1, 1, 90deg);
}

#m_animation .w2 {
  transform: rotate3D(1, 2, 0.5, 90deg);
}

#m_animation .w3 {
  transform: rotate3D(0.5, 1, 2, 90deg);
}

@keyframes spin3D {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(0deg);
  }
}
.sc2 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 120px 0px;
  display: flex;
  flex-direction: column;
}

#A_title {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 80px;
}
#A_title h2 {
  padding-left: 220px;
  font-size: 60px;
  font-family: "Black Ops One";
}

#profil {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  margin-top: 80px;
}

#profil_img {
  width: 300px;
  padding-left: 10%;
}

#profil_card {
  width: 63vw;
  height: 600px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 500px;
  transition: transform 0.8s;
  backface-visibility: hidden;
  box-shadow: 5px 5px 5px #777;
}
#profil_card p {
  width: 100%;
  color: #fff;
  font-size: 46px;
  font-family: "Black Ops One";
  text-align: center;
}

#logo2 {
  position: absolute;
  left: 70%;
  top: 520px;
}
#logo2 img {
  width: 120%;
}

#E_mail {
  text-align: center;
  box-sizing: border-box;
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
}

#C_ontact {
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
}

#hover {
  text-align: center;
  box-sizing: border-box;
  margin-top: 30px;
  color: #F1C2F2;
  font-size: 20px;
}

#profil_card2 {
  box-sizing: border-box;
  width: 63vw;
  height: 600px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 500px;
  padding-top: 100px;
  transition: transform 0.8s;
  backface-visibility: hidden;
  box-shadow: 5px 5px 5px #777;
}
#profil_card2 p {
  width: 100%;
  color: #fff;
  font-size: 46px;
  font-family: "Black Ops One";
  text-align: center;
}

#licence_box {
  display: flex;
  margin-top: 50px;
}
#licence_box div {
  width: 33%;
  box-sizing: border-box;
}
#licence_box div:nth-child(1), #licence_box div:nth-child(2) {
  padding-left: 80px;
}

#education {
  display: flex;
  flex-direction: column;
}
#education ul {
  margin-top: 30px;
}
#education ul li {
  display: flex;
  margin-bottom: 20px;
}

#profil_card2 .e_get {
  font-family: "Black Ops One";
  font-size: 34px;
  text-align: left;
}

#profil_card2 .E_ulp {
  font-family: "Black Ops One";
  font-size: 26px;
  text-align: left;
  font-weight: bold;
  width: 30%;
}

#profil_card2 .E_uls {
  font-family: "Black Ops One";
  font-size: 18px;
  text-align: left;
  width: 70%;
  color: #fff;
}

.e_exp {
  display: block;
  color: #fff;
  margin-top: 25px;
}

#profil_card2 #self {
  border: 2px solid #fff;
  border-radius: 20px;
  margin-left: 50px;
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
}

#profil_card2 #self #self_tag {
  font-size: 18px;
  padding: 30px;
  box-sizing: border-box;
  line-height: 30px;
}

#profil_card {
  transform: rotateY(0deg);
}

#profil_card2 {
  transform: rotateY(180deg);
}

.flipped #profil_card {
  transform: rotateY(180deg);
}

.flipped #profil_card2 {
  transform: rotateY(0deg);
}

.sc3 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 85px 0px;
  display: flex;
  flex-direction: column;
}

#sc3title {
  padding-left: 220px;
}
#sc3title h1 {
  font-size: 60px;
  font-family: "Black Ops One";
}

#skills_box {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 0 150px;
}

#skills_menu {
  width: 80%;
  perspective: 2400px;
  margin: 70px 0 0 30px;
}

#skills_menu_button {
  width: 100%;
  height: 550px;
  background-color: black;
  border-radius: 15px;
  transform-style: preserve-3d;
  transform: rotateY(30deg);
  transition: all 0.5s;
  box-shadow: 5px 5px 5px #777;
}
#skills_menu_button:hover {
  transform: rotateY(0deg);
}
#skills_menu_button ul {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
#skills_menu_button ul li {
  margin: 40px 0;
  font-family: "Black Ops One";
  color: #fff;
  font-size: 48px;
  cursor: url("../img/cusor_pointer2.svg"), pointer;
}

#skills_Tag {
  width: 100%;
  height: 650px;
  background-image: url(../img/bdtest2.png);
  background-position: center;
  background-size: 100% 100%;
  margin: 50px 0 0 20px;
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

#skills_tag_box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.skills_tab {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 90px;
  display: flex;
  flex-direction: column;
}
.skills_tab h3 {
  font-family: "Black Ops One";
  color: #934EA6;
  font-size: 3vw;
  width: 100%;
}

#skill_icon ul {
  display: flex;
  margin-top: 20px;
}
#skill_icon ul li {
  width: 11%;
}
#skill_icon ul li img {
  width: 90%;
}

.skill_icon2 ul {
  display: flex;
  margin-top: 20px;
}
.skill_icon2 ul li {
  width: 11%;
}
.skill_icon2 ul li img {
  width: 100%;
}

.skill_explanation {
  margin-top: 20px;
}
.skill_explanation p {
  width: 100%;
  font-family: "Noto Sans KR";
  font-size: 1vw;
}
.skill_explanation p:nth-child(2) {
  margin-top: 30px;
}
.skill_explanation p b {
  color: #561AD9;
  font-size: 1.05vw;
}

.sc4 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 85px 0px;
  display: flex;
  flex-direction: column;
}

#sc4title {
  padding-left: 220px;
}
#sc4title h1 {
  font-size: 60px;
  font-family: "Black Ops One";
}

#swiper_box {
  width: 100%;
  padding: 0 120px;
  box-sizing: border-box;
  display: flex;
}

#swiper_page_box {
  width: 50%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0 0 90px;
  overflow: hidden;
  padding: 0 20px 10px 0;
}

.swiper-card {
  width: 85%;
  height: 100%;
}

.swiper-slide {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid #8836BF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  cursor: url("../img/cusor_pointer2.svg"), pointer;
}

.swiper-card .swiper-slide img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  transition: transform 5s ease-in-out;
}

.fadeIn {
  animation: fadeInEffect 1s;
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#swiper_explanation {
  width: 38%;
}

.ex_swiper {
  position: relative;
  width: 100%;
  height: 640px;
  border: 1px solid #8836BF;
  background-color: #fff;
  margin: 20px 0 0 50px;
  box-shadow: 3px -3px #F1C2F2, 6px -6px #934EA6, 9px -9px #8836BF, 12px -12px #C394F2, 15px -15px #561AD9;
}

.ex_box:nth-child(2), .ex_box:nth-child(3), .ex_box:nth-child(4), .ex_box:nth-child(5) {
  display: none;
}

.ex_box {
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.ex_box h2 {
  font-family: "Black Ops One";
  font-size: 2.4vw;
}
.ex_box ul {
  display: flex;
  margin-top: 20px;
}
.ex_box ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  font-weight: bold;
  width: 20%;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #561AD9;
  font-weight: bold;
  background-image: linear-gradient(-225deg, #561AD9 0%, #C394F2 25%, #8836BF 50%, #934EA6 75%, #F1C2F2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 20px 0 0;
}

.ex_tilte {
  font-family: "Black Ops One";
  font-size: 24px;
  margin-top: 40px;
}

.ex_sp {
  display: inline-block;
  margin-top: 20px;
}

.ex_color_box {
  display: flex;
}

.ex_color {
  margin: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color_tag {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid black;
}

.ex_btn {
  width: 120px;
  height: 50px;
  border: 2px solid #8836BF;
  box-shadow: 2px 2px 2px #8836BF, -2px -2px 6px #8836BF inset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 40%;
  top: 88%;
  cursor: url("img/cusor_pointer2.svg"), pointer;
}
.ex_btn:hover {
  box-shadow: -2px -2px 2px #8836BF, 2px 2px 6px #8836BF inset;
  background-image: linear-gradient(-225deg, #561AD9 0%, #C394F2 25%, #8836BF 50%, #934EA6 75%, #F1C2F2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ex_btn a {
  color: #561AD9;
  font-weight: bold;
  font-size: 26px;
  font-family: "Black Ops One", "Noto Sans KR";
  cursor: url("img/cusor_pointer2.svg"), pointer;
}

.btn2 {
  left: 20%;
}

.btn3 {
  left: 60%;
}

.co1 {
  background-color: #8836BF;
}

.co2 {
  background-color: #ffe680;
}

.co3 {
  background-color: #4B6587;
}

.co4 {
  background-color: #0090f0;
}

.co5 {
  background-color: #4fb68d;
}

.co6 {
  background-color: #fff;
}

.co7 {
  background-color: #ffeb60;
}

.co8 {
  background-color: #fff;
}

.co9 {
  background-color: #242424;
}

.co10 {
  background-color: #B7E5B4;
}

.co11 {
  background-color: #FFFC9B;
}

.co12 {
  background-color: #FFA447;
}

.co13 {
  background-color: #F28585;
}

.co14 {
  background-color: #000;
}

.co15 {
  background-color: #fff;
}

.ex_overflow {
  width: 100%;
  height: 380px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #8836BF transparent;
}

/* Chrome, Edge를 위한 설정 */
.ex_overflow::-webkit-scrollbar {
  width: 12px; /* 스크롤바의 너비 */
}

.ex_overflow::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 트랙(바탕)의 색상 */
}

.ex_overflow::-webkit-scrollbar-thumb {
  background-color: #561AD9; /* 스크롤바의 색상 */
  border-radius: 15px; /* 스크롤바의 모서리 둥글기 */
  border: 3px solid transparent; /* 스크롤바와 트랙 사이의 경계 */
}

.ex_about {
  margin-top: 40px;
}
.ex_about p {
  font-family: "Noto Sans KR";
  font-size: 17px;
}
.ex_about p b {
  color: #561AD9;
  font-size: 18px;
}
.ex_about h2 {
  margin-top: 40px;
  font-size: 24px;
}

.sc5 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
}

#sc5title {
  width: 100%;
}
#sc5title h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Black Ops One";
}

#concluson {
  width: 100%;
  position: absolute;
  padding: 0 200px;
  box-sizing: border-box;
}

#concluson_img {
  margin: 40px auto 0;
  width: 100%;
  height: 600px;
  background-image: url(../img/bdtest2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#con_img_box {
  position: relative;
  height: 500px;
  overflow: hidden;
  top: 30px;
}

#content_con {
  width: 100%;
  padding: 0px 30px 0 100px;
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
}

.concluson_box {
  width: 90%;
  display: flex;
  align-items: start;
}
.concluson_box div img {
  width: 75%;
}

.con_st1 {
  width: 73%;
}
.con_st1 p {
  padding: 100px;
  font-size: 22px;
  font-family: "Noto Sans KR";
}

.con_st2 {
  width: 40%;
  border-radius: 30px;
}

#content_con .st3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content_con .st3 h1 {
  font-size: 42px;
  font-family: "Black Ops One";
  text-align: center;
  width: 50%;
  height: 50px;
  border: 55px solid transparent;
  border-top-color: #934EA6;
  border-bottom: 0;
  border-left: 0;
  margin-left: -27.5px;
  margin-bottom: -55px;
}

.concluson_box .con_st3 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.concluson_box .con_st3 img {
  width: 20%;
}

* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

html,
body {
  cursor: url("../img/cusor2.svg"), auto;
}

a {
  text-decoration: none;
  color: black;
}

.sc:nth-child(2), .sc:nth-child(3), .sc:nth-child(4), .sc:nth-child(5) {
  display: none;
}