.sc4 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 85px 0px;
  display: flex;
  flex-direction: column;

}


#sc4title {
  padding-left: 220px;

  h1 {
    font-size: 60px;
    font-family: "Black Ops One";
  }
}

#swiper_box {
  width: 100%;
  padding: 0 120px;
  box-sizing: border-box;
  display: flex;
}

#swiper_page_box {
  width: 50%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0 0 90px;
  overflow: hidden;
  padding: 0 20px 10px 0
}

.swiper-card {
  width: 85%;
  height: 100%;
}

.swiper-slide {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid #8836BF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  cursor: url('../img/cusor_pointer2.svg'), pointer;

}



.swiper-card .swiper-slide img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  transition: transform 5s ease-in-out;

}

.fadeIn {
  animation: fadeInEffect 1s;
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#swiper_explanation {
  width: 38%;
}

.ex_swiper {
  width: 100%;
  height: 640px;
  border: 1px solid #8836BF;
  background-color: #fff;
  margin: 50px 0 0 50px;
  box-shadow: 3px -3px #F1C2F2, 6px -6px #934EA6, 9px -9px #8836BF, 12px -12px #C394F2, 15px -15px #561AD9;
}

.ex_box {
  padding: 50px;
  display: flex;
  flex-direction: column;

  h2 {
    font-family: "Black Ops One";
    font-size: 2.4vw;
  }

  ul {
    display: flex;
    margin-top: 40px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
      width: 20%;
      height: 30px;
      border-radius: 15px;
      border: 1px solid #561AD9, ;
      font-weight: bold;
      background-image: linear-gradient(-225deg, #561AD9 0%, #C394F2 25%, #8836BF 50%, #934EA6 75%, #F1C2F2 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0 20px 0 0;
    }
  }
}

.ex_tilte {
  font-family: "Black Ops One";
  font-size: 24px;
  margin-top: 40px;


}

.ex_sp {
  display: inline-block;
  margin-top: 20px;
}

.ex_color_box {
  display: flex;

}

.ex_color {
  margin: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color_tag {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid black;
}

.ex_btn{
  width: 120px;
  height: 50px;
  border: 2px solid #8836BF;
  box-shadow: 2px 2px 2px #8836BF, -2px -2px 6px #8836BF inset;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 0;
  cursor: url('img/cusor_pointer2.svg'), pointer;
  &:hover{
    box-shadow: -2px -2px 2px #8836BF, 2px 2px 6px #8836BF inset;
    background-image: linear-gradient(-225deg, #561AD9 0%, #C394F2 25%, #8836BF 50%, #934EA6 75%, #F1C2F2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
  }
  a{
    color: #561AD9;
    font-weight: bold;
    font-size: 32px;
    font-family: "Black Ops One", "Noto Sans KR";
    cursor: url('img/cusor_pointer2.svg'), pointer;
  }
}

.co1 {

  background-color: #8836BF;
  
}

.co2 {
  background-color: #ffe680;
}

.co3{
  background-color: #4B6587;
}

.ex_overflow{
  width: 100%;
  height: 400px;
  overflow: auto;
}

.ex_about{
  margin-top: 40px;

  p{
    font-family:"Noto Sans KR";
    font-size: 17px;
    b{
      color: #561AD9;
      font-size: 18px;
    }
  }
  h2{
    margin-top: 40px;
    font-size: 24px;
  }
}

